{include file="page_header"}

		<header class="dis-box padding-all open-header-bg">
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x active"></div>
						<div class="header-y p-a o-hs-bg active"><span class="text-c color-whie f-03">1</span></div>
					</div>
					<label class="o-hs active">查看微店信息</label>
				</div>
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x active"></div>
						<div class="header-y p-a o-hs-bg active"><span class="text-c color-whie f-03">2</span></div>
					</div>
					<label class="o-hs active">选择{$custom}商品</label>
				</div>
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x active"></div>
						<div class="header-y p-a o-hs-bg active"><span class="text-c color-whie f-03">3</span></div>
					</div>
					<label class="o-hs active">完成</label>
				</div>
			</header>
		<section class="padding-all">
			<div class="open-sun">
				<i class="iconfont icon-hookring2 f-2 text-c color-red"></i>
				<p class="text-c col-8 f-06 m-top07">恭喜您，开店成功！</p>
			</div>
			<a href="{U('drp/user/index')}"><button class="btn-submit">我的{$custom}中心</button></a>
		</section>
		<!--引用js-->

	</body>

</html>