{include file="page_header"}
		<div class="con">
			<div class="flow-consignee-list j-get-consignee-one select-three">
                            {foreach $consignee_list as $consignee}
				<section class="flow-checkout-adr m-top08">
					<div class="flow-set-adr of-hidden padding-all ">
						<div class="ect-select fl">
							<label class="dis-box {if $consignee.address_id == $address_id }active{/if}" onclick="adderss_user({$consignee.address_id})"">
								<i class="select-btn "></i>
                                                          
								<span class="t-first margin-lr  "><a class="ml10 ftx-05 " href="javascript:void(0);">{if $consignee.address_id == $address_id }默认地址{else}设为默认{/if}</a></span>

							</label>
						</div>
                                            <div class="fr"><a href="{U('index/addaddress',array('address_id'=>$consignee.address_id))}"><i class="iconfont icon-bianji"></i>编辑</a><a href="{U('index/drop',array('address_id'=>$consignee.address_id))}"><i class="iconfont icon-xiao10"></i>删除</a></div>
					</div>
					<div class="flow-have-adr padding-all">
						<p class="f-h-adr-title">
							<label>{$consignee.consignee}</label><span>{$consignee.mobile}</span></p>
						<p class="f-h-adr-con t-remark m-top04">{$consignee.address}</p>
					</div>
				</section>
				{/foreach}
				<div class="ect-button-more dis-box filter-btn padding-all">
					<a href="{U('index/addaddress')}" class="btn-submit box-flex">新增收货人信息</a>
				</div>
			</div>
		</div>
         <script type="text/javascript">

                //设置默认收获地址
       function adderss_user(address_id){
                $.get('{U('user/index/ajax_make_address ' )}',{address_id:address_id},function(data){
                   
                        
                },'json') ; 
               
            }
    </script>
	</body>

</html>