{include file="page_header"}
		<div class="con">
         {if $account_log}
         {foreach $account_log as $item}
			<section class="padding-all b-color-f position-rel m-top1px">
                            <a href="{U('user/account/accountdetail',array('id'=>$item.id))}" class="product-div-link"></a>
				<div class="dis-box b-color-f card-div">
					<div>
						<p>{$item.type}</p>
						<span>{$item.add_time}</span>
					</div>
					<div class="box-flex input-text text-right">
						<p>{$item.amount}</p>
						<span class="color-red">{$item.pay_status}</span>
					</div>
					<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
				</div>
				</section>
			{/foreach}
            {else}
            <div class="no-div-message">
                <i class="iconfont icon-biaoqingleiben"></i>
                <p>亲，此处没有内容～！</p>
            </div>
            {/if}
		</div>

	</body>

</html>