{include file="page_header"}
		<div class="con">
			<section class="m-top10 my-nav-box b-color-f">
				<a href="{U('user/index/messagelist')}">
					<div class="dis-box padding-all my-bottom">
						<h3 class="box-flex text-all-span my-u-title-size"><i class="iconfont icon-kefu is-user-size my-dingdan-color"></i>客户服务</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</a>
				<a href="{U('user/index/userhelp')}">
					<div class="dis-box padding-all">
						<h3 class="box-flex text-all-span my-u-title-size"><i class="iconfont icon-3shouce is-user-size my-dingdan-color"></i>帮助手册</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</a>
			</section>
		</div>
		<script>
			/*店铺信息商品滚动*/
			var swiper = new Swiper('.j-g-s-p-con', {
				scrollbarHide: true,
				slidesPerView: 'auto',
				centeredSlides: false,
				grabCursor: true
			});
		</script>
	</body>
</html>