{include file="page_header"}
<div class="con">
    <header class="dis-box header-menu n-header-menu b-color color-whie">
        <a class="" href="javascript:history.go(-1);"><i class="iconfont icon-back"></i></a>
        <h3 class="box-flex">退换货列表</h3>
        <a><i class="iconfont icon-13caidan j-nav-box"></i></a>
    </header>
    <!--<div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3"style="padding-top:0">
        <div id="j-tab-con" class="tab-con">
            <div class="swiper-wrapper">
                <section class="swiper-slide store_info">
                    <script id="j-product" type="text/html">
                        <%each return_list as order%>
                        <section class="flow-checkout-pro m-top08">
                            <div class="f-c-p-orderid padding-all m-top1px b-color-f">
                                <h4 class="t-remark2">
                                    <label class="t-remark">退换货号：</label><%order.return_sn%>
                                    <span class="t-jiantou"></span>
                                </h4>
                                <p class="t-remark3 m-top04"><%order.apply_time%></p>
                                <span class="f-c-a-count"></span>
                            </div>
                            <section class="product-list j-product-list product-list-small b-color-f">
                                <ul>
                                    <li>
                                        <div class="product-div">
                                            <a href="<%order.goods_url%>"><img class="product-list-img" src="<%order.goods_thumb%>"></a>
                                            <div class="product-text">
                                                <a href="<%order.goods_url%>"><h4>豪韵(HyperSound)6360家庭影院5.1电视音响木质组合音箱低音炮功放KTV套装</h4></a>
                                                <p class="dis-box p-t-remark"><span class="box-flex f-05 m-top04 col-7">订单状态:<%#order.order_status%></span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <footer class="padding-all b-color-f m-top1px of-hidden dis-box">
                                <h4 class="t-remark2 box-flex">
                                    <label class="t-remark">合计：</label><span class="t-first"><%#order.should_return%></span>
                                </h4>
                                <p class="ect-button-more ">
                                        <%#order.edit_shipping%>
                                        <%#order.handler%>
                                </p>
                            </footer>
                        </section>
                        <%/each%>
                    </script>
                </section>
            </div>
        </div>
    </div>-->
    <div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3" style="padding-top: 0rem;">
				<nav class=" j-tab-title tab-title b-color-f of-hidden" style="position: static;">
					<ul class="dis-box">
						<li class="box-flex active">售后申请</li>
						<li class="box-flex">进度查询</li>
					</ul>
				</nav>
				<div id="j-tab-con" class="tab-con">
					<div class="swiper-wrapper">
						<section class="swiper-slide">
				
							<section class="flow-checkout-pro m-top08">
								<header class="b-color-f dis-box padding-all">
									<span class=" box-flex">自营产品</span>
									<em class="j-goods-coupon t-first">已收货</em>
								</header>
								<div class="padding-all m-top1px b-color-f n-reture-num">
									<h4 class="t-remark2"><label class="t-remark">订单号：</label>2015129043928320948<span class="t-jiantou-2"><i class="iconfont icon-jiantou tf-180"></i></span></h4>
									<p class="t-remark3 m-top04">2015-12-11 02:11:12</p>
								</div>
								<!--order-list s-->            
								<section class="n-return-list-box b-color-f">
										<ul class="dis-box">
												<li class="reture-left-img">
														<div class="img-box"><img class="product-list-img" src="../images/201512/thumb_img/7_thumb_G_1450120026360.jpg"></div>
												</li>
												<li class="box-flex reture-right-cont">
													<h4 class="onelist-hidden">豪韵(HyperSound)6360家庭影院5.1电视音响木质组合音箱低音炮功放KTV套装</h4>
													<div class="dis-box reture-footer">
														<div class=""><span class="f-04 col-7">数量：×1</span></div>
														<div class="box-flex">
												<a class="btn-submit1 n-return-btn fr">申请售后</a>
											</div>
													</div>
												</li>
										</ul>	
								</section>
								<!--order-list e-->  
							</section>
						</section>
						<section class="swiper-slide">
							<!--list s-->
							<section class="flow-checkout-pro m-top08">
								<header class="b-color-f dis-box padding-all">
									<span class=" box-flex">自营产品</span>
									<em class="j-goods-coupon t-first">已收货</em>
								</header>
								<div class="padding-all m-top1px b-color-f n-reture-num">
									<h4 class="t-remark2"><label class="t-remark">订单号：</label>2015129043928320948<span class="t-jiantou-2"><i class="iconfont icon-jiantou tf-180"></i></span></h4>
									<p class="t-remark3 m-top04">2015-12-11 02:11:12</p>
								</div>
								<!--order-list s-->            
								<section class="n-return-list-box b-color-f">
										<ul class="dis-box">
												<li class="reture-left-img">
														<div class="img-box"><img class="product-list-img" src="../images/201512/thumb_img/7_thumb_G_1450120026360.jpg"></div>
												</li>
												<li class="box-flex reture-right-cont">
													<h4 class="onelist-hidden">豪韵(HyperSound)6360家庭影院5.1电视音响木质组合音箱低音炮功放KTV套装</h4>
													<div class="dis-box reture-footer">
														<div class=""><span class="f-04 col-7">数量：×1</span></div>
														<div class="box-flex">
												<a class="btn-default n-return-btn fr">查看详情</a>
											</div>
													</div>
												</li>
										</ul>	
								</section>
								<!--order-list e-->  
							</section>
							<!--list e-->
						</section>
					</div>
				</div>
			</div>
</div>
<script type="text/javascript">
/*切换*/
			var tabsSwiper = new Swiper('#j-tab-con', {
				speed: 100,
				noSwiping: true,
				autoHeight: true,
				onSlideChangeStart: function() {
					$(".j-tab-title .active").removeClass('active')
					$(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
				}
			})
			$(".j-tab-title li").on('touchstart mousedown', function(e) {
				e.preventDefault()
				$(".j-tab-title .active").removeClass('active')
				$(this).addClass('active')
				tabsSwiper.slideTo($(this).index())
			})
			$(".j-tab-title li").click(function(e) {
					e.preventDefault()
				})
    //订单列表
    var infinite = $('.store_info').infinite({url: "{U('user/order/return_list')}", template: 'j-product'});
    $(".tab-title a").click(function () {
        var status = $(this).attr('status');

        infinite.onload('status=' + status);
        $(this).parent().addClass("active").siblings().removeClass("active");
    })
</script>
{include file="header_nav"}
</body>
</html>
