<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<meta charset="utf-8">
		<title>ECTouch微商城</title>
		<!--字体图标库-->
		<link rel="stylesheet" href="{__TPL__}crowd/fonts/iconfont.css">
		<link rel="stylesheet" href="{__TPL__}crowd/css/swiper-3.2.5.min.css" />
		<!--主样式-->
		<link rel="stylesheet" href="{__TPL__}crowd/css/ectouch.css" />

	</head>

	<body>
		<div id="loading"><img src="{__TPL__}crowd/img/loading.gif" /></div>
		<div class="con">
				<header class="dis-box header-menu-1 b-color color-whie  goods-fixed-raise  active">
					<div class="box-flex">
						<ul class="dis-box  goods-header-nav-box-raise active">
							<li class="box-flex"><a href="{U('crowd_funding/index/info',array('id'=> $id))}"><label>商品</label></a></li>
							<li class="box-flex"><a class="hover" href="{U('crowd_funding/index/properties',array('id'=> $id))}"><label>详情</label></a></li>
							<li class="box-flex"><a href="{U('crowd_funding/index/comment',array('id'=> $id))}"><label>评论</label></a></li>							
						</ul>
					</div>							
				</header>
			<div class="goods-info of-hidden ect-tab j-goods-info j-ect-tab ts-3">
				<div class="hd j-tab-title tab-title b-color-f of-hidden m-top06">
					<ul class="dis-box">
						<li class="box-flex active">项目主页</li>
						<li class="box-flex">风险说明</li>
					</ul>
				</div>
				<div id="j-tab-con" class="b-color-f m-top1px tab-con ">
					<div class="swiper-wrapper">
						<section class="swiper-slide ">
								<div class="raise-goods-detali padding-all">
									{foreach $img as $key=>$vo_img}
									<img src="{$vo_img}"> {/foreach}
								</div>						
						</section>
						<section class="swiper-slide goods-info-attr">
								<div class="raise-goods-detali padding-all f-05 col-7">
									{$row.risk_instruction}
								</div>
						</section>
					</div>
				</div>
			</div>

		</div>

		<!--引用js-->
		<script type="text/javascript" src="{__TPL__}crowd/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{__TPL__}crowd/js/swiper-3.2.5.min.js"></script>
		<script type="text/javascript" src="{__TPL__}crowd/js/ectouch.js"></script>
		<script>
			/*切换*/
			var tabsSwiper = new Swiper('#j-tab-con', {
				speed: 100,
				noSwiping: true,
				autoHeight: true,
				onSlideChangeStart: function() {
					$(".j-tab-title .active").removeClass('active')
					$(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
				}
			})
			$(".j-tab-title li").on('touchstart mousedown', function(e) {
				e.preventDefault()
				$(".j-tab-title .active").removeClass('active')
				$(this).addClass('active')
				tabsSwiper.slideTo($(this).index())
			})
			$(".j-tab-title li").click(function(e) {
				e.preventDefault()
			})
		</script>
	</body>

</html>