{include file="page_header"}
            <form action="{U('index/add_address')}" method="post">
                <input type="hidden" name="address_id" value="{$consignee_list.address_id}">
                <div class="con b-color-f">
                    <div class="flow-consignee margin-lr">
                        <section>
                            <input type="hidden" value="{$consignee_list.province_id}" id="province_id" name="province_region_id">
                            <input type="hidden" value="{$consignee_list.city_id}" id="city_id" name="city_region_id">
                            <input type="hidden" value="{if $consignee_list.district_id}{$consignee_list.district_id}{else}0{/if}" id="district_id" name="district_region_id">
                            <input type="hidden" value="{$region_id}" id="region_id" name="region_id">
                        </section>
                        <div class="text-all dis-box j-text-all">
                            <label>收货人</label>
                            <div class="box-flex input-text">
                                <input name='consignee' value="{$consignee_list.consignee}" class="j-input-text" type="text" placeholder="请输入收货人姓名" />
                                <i class="iconfont icon-guanbi1 is-null j-is-null"></i>
                            </div>
                        </div>
                        <div class="text-all dis-box j-text-all">
                            <label>手机号码</label>
                            <div class="box-flex input-text">
                                <input class="j-input-text"  name='mobile' type="tel" placeholder="请输入联系电话" value="{$consignee_list.mobile}"/>
                                <i class="iconfont icon-guanbi1 is-null j-is-null"></i>
                            </div>
                        </div>
                         <section class="text-all j-filter-city">
                                <label class="fl">所在地区</label>
                                <span class="show-region text-all-span">{$consignee_list.province}{$consignee_list.city}{$consignee_list.district}</span>
                                <span class="t-jiantou fr"><i class="iconfont icon-jiantou tf-180"></i></span>

                        </section>
                        
                        <div class="text-all ">
                            <label>详细信息</label>
                            <div class="box-flex input-text">
                                <input class="j-input-text" name='address' type="text" value="{$consignee_list.address}" placeholder="详细地址" />
                                <i class="iconfont icon-guanbi1 is-null j-is-null"></i>
                            </div>
                        </div>
                    </div>
                 
                </div>   <div class="ect-button-more dis-box filter-btn padding-all">
                            <input type="submit" name="submit"  class="btn-submit box-flex "  value="保存"/>
                        </div>
                <div class="filter-city-div ts-5 c-filter-div c-city-div">

                    <section class="close-filter-div j-close-filter-div">
                        <div class="close-f-btn">
                            <i class="iconfont icon-fanhui"></i>
                            <span>关闭</span>
                        </div>
                    </section>
                    <section class="con-filter-div">
                        <aside>
                            <div class="menu-left j-city-left scrollbar-none" id="sidebar">
                                <ul >
                                    <!-- 省、直辖市 -->
                                    {foreach $province_list as $province}

                                    <li region="{$province.region_id}" {if $consignee_list.province_id == $province.region_id}class="active"{/if} onclick="region.getBbb({$province.region_id}, 2, {$user_id})">{$province.region_name}</li>
                                    {/foreach}
                                </ul>
                            </div>
                        </aside>
                        <section class="menu-right j-city-right">
                            <div class="select-two j-get-city-one">
                                {foreach $city_list as $city}
                                {if $city.district_list}
                                <a class="select-title padding-all j-menu-select">
                                    <label class="fl">{$city.region_name}</label>
                                    <span class="fr t-jiantou j-t-jiantou" id="j-t-jiantou"><i class="iconfont icon-jiantou tf-180 ts-2"></i></span>
                                </a>
                                <ul class="padding-all j-sub-menu">
                                    {foreach $city.district_list as $district}
                                    <li class="ect-select {if $consignee_list.district_id == $district.region_id}active{/if}">
                                        <label onclick="region.cccDdd({$district.region_id}, {$city.region_id}, {$user_id})" class="ts-1 {if $goods_region.district == $district.region_id}active{/if}">{$district.region_name}<i class="fr iconfont icon-gou ts-1"></i></label>
                                    </li>
                                    {/foreach}
                                </ul>
                                {else}
                                <a class="select-title padding-all j-menu-select" onclick="region.cccDdd(0, {$city.region_id}, {$user_id})">
                                    <label class="fl">{$city.region_name}</label>
                                    <span class="fr t-jiantou j-t-jiantou" id="j-t-jiantou"><i class="iconfont icon-jiantou tf-180 ts-2"></i></span>
                                </a>
                                {/if}
                                {/foreach}
                            </div>
                        </section>
                    </section>
                </div>
          </form>
		<!--引用js-->
        <script type="text/javascript" src="{__TPL__}js/region_goods.js"></script>
        <script type="text/javascript" src="{__PUBLIC__}script/main/common.js"></script>
    </body>
</html>
